@import './scss/normalize.scss';
@import './scss/vars_and_mixins.scss';
@import './scss/fonts.scss';
@import './scss/fonts_icon.scss';

$width1600: 1780px;
$tablet: 1200px;
$mobile: 767px;


$font-raleway: 'Raleway', sans-serif;
$font-benzin: 'Benzin', sans-serif;
$font-RFDewiExpanded: 'RFDewiExpanded', sans-serif;


$white: #fff;
$black: #030303;
$gray-text: rgba(255, 255, 255, 0.5);

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: $font-raleway;
    color: $white;
    font-weight: 400;
    line-height: 115.6%;
    background-color: #000;
}

.wrapper {
    margin: 0 auto;
    overflow: hidden;
    min-height: 100%;
}



@media (min-width: 861px) {
    .main {
        // height: 100vh;
        // scroll-snap-points-y: repeat(100vh);
        // overflow: auto;
        // scroll-snap-type: y mandatory;
    }
}


header, footer {
    width: 100%;
}

.container {
    max-width: 1870px; // 1820px
    margin: 0 auto;
    padding: 0 50px;
    @media (max-width: $mobile) {
        padding: 0 25px;
    }
}

.title {
    @include font($font-benzin, 72px, 83px, $white); 
    font-weight: 600;
    text-transform: uppercase;
    @media (max-width: $tablet) {
        font-size: 32px;
        line-height: 37px;
    }
}

.subtitle {
    @include font($font-benzin, 48px, 56px, $white); 
    font-weight: 600;
    text-transform: uppercase;
    @media (max-width: $width1600) {
      font-size: 36px;
      line-height: 41px;
    }
    @media (max-width: $tablet) {
        font-size: 20px;
        line-height: 23px;
    }
}

.subtitle-2 {
    @include font($font-benzin, 36px, 42px, $white); 
    font-weight: 600;
    text-transform: uppercase;
    @media (max-width: $tablet) {
        font-size: 20px;
        line-height: 23px;
    }
}

.custom-button {
    cursor: pointer;
    display: inline-block;
    padding: 20px 37px;
    background-color: $white;
    border: 1px solid $white;
    border-radius: 59px;
    color:  $black;
    white-space: nowrap;
    transition: all 0.3s ease;
    font-family: "RFDewiExpanded", sans-serif;
    font-weight: 600;
    @media (min-width: $mobile) {
        &:hover {
            color: $white;
            background-color: transparent;
        }
    }  
    @media (max-width: $tablet) {
        padding: 12px 24px;
    }
}

.custom-button.transparent {
    background-color: transparent;
    color:  $white;
    @media (min-width: $mobile) {
        &:hover {
            color: $black;
            background-color: $white;
        }
    }    
}

.language {
    display: flex;
    gap: 10px;
    a {
        font-family: $font-RFDewiExpanded;
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        color: #FFFFFF80;
        text-transform: uppercase;
        &.active {
            color: $white;
        }
        @media (max-width: $tablet) {
            font-size: 18px;
            line-height: 21px;
        }
    }
}

.header {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    z-index: 10;
    &-container {
        @include flex(space-between, center, row);
        gap: 50px;
        height: 138px;
        padding: 40px 0;
        @media (max-width: $tablet) {
            height: 98px;
            padding: 28px 0;
        }
        @media (max-width: $mobile) {
            height: 69px;
            padding: 24px 0;
        }
        .header-left {
            @include flex(flex-end, center, row);
            gap: 22px;
            .custom-button {
                font-size: 16px;
                font-family: $font-RFDewiExpanded;
                text-shadow: 0px 1px 3px #00000040;
                @media (max-width: $mobile) {
                    display: none;
                }
            }
            .language {
                display: none;
                @media (max-width: $mobile) {
                    display: flex;
                }
            }
        }
    }
    .logo img {
        height: 39px;
        width: 234px;
        @media (max-width: $tablet) {
            height: 23px;
            width: 140px;
        }
        @media (max-width: $mobile) {
            height: 18x;
            width: 111px;
        }
    }
}

.screen {
    width: 100%;
    height:100vh;
    scroll-snap-align: start;
    overflow: hidden;
}

.first-screen {
    overflow: hidden;
    position: relative;
    @media (max-width: 992px) {
        height: auto;
    }
    @media (max-width: $mobile) {
        height:100dvh;
    }
    @media (min-width: $mobile) {
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100px;
            position: absolute;
            bottom: 0;
            background: linear-gradient(to bottom, transparent, $black);
        }
    }
    .video {
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        @media (max-width: $mobile) {
            // height: 100%;
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 100px;
                position: absolute;
                bottom: 0;
                background: linear-gradient(to bottom, transparent, black);
            }
        }
        video {
            width: 100vw;
            margin-top: -250px;   
            position: relative;
            &::-webkit-media-controls {
                display: none;
            }   
            @media (max-width: 1900px) {
                margin-top: -200px; 
            }  
            @media (max-width: 1600px) {
                margin-top: -150px;
            }  
            @media (max-width: $tablet) {
                margin-top: -100px;
            }
            @media (max-width: 1000px) {
                margin-top: -50px;
            }
            @media (max-width: $mobile) {
                margin-top: 0; 
                position: relative;
                left: -20%;
                width: 125%;
                // display: none;
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 30px;
                    position: absolute;
                    z-index: 1;
                    bottom: 0;
                    // background: linear-gradient(to bottom, transparent, $black);
                }
            }
        }
    }
    video::-webkit-media-controls {
        display: none;
    }
    &__content {
       position: relative;
        z-index: 10;
        height: calc(100% - 162px);
        @media (max-width: $tablet) {
            height: calc(100% - 119px);
        }
        @media (max-width: 992px) {
            height: 495px;
        }
        @media (max-width: $mobile) {
            height: calc(100% - 119px);
        }
        aside {
            height: 100%;
            max-width: 504px;
            @include flex(space-between, stretch, column);
            gap: 20px;
            padding-bottom: 70px;
            .buttons-block {
                display: none;
            }
            @media (max-width: $mobile) {
                max-width: none;
                justify-content: flex-end;
                align-items: center;
                padding-bottom: 15px; //50
                h2 {
                    text-align: center;
                    font-size: 40px;
                    line-height: 46px;
                }
                .menu {
                    display: none;
                }
                .buttons-block {
                    width: 100%;
                    display: flex;
                    align-items: stretch;
                    flex-direction: column;
                    gap: 12px;
                    text-align: center;
                    .custom-button {
                        text-decoration: none;
                        text-transform: capitalize;
                        font-size: 12px;
                        line-height: 14px;
                        font-weight: 600;
                    }
                }
            }
        }
        .menu ul li:not(:last-child) {
            margin-bottom: 13px;
            @media (max-width: $tablet) {
                margin-bottom: 8px;
            }
        }
        .menu ul li a {
            display: inline-block;
            border-bottom: 1px solid transparent;
            font-family: $font-benzin;
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            text-transform: uppercase;
            transition: all 0.3s ease;
            @media (min-width: $mobile) {
                &:hover {
                    border-bottom: 1px solid $white;
                }
            }
            @media (max-width: $tablet) {
                font-size: 9px;
                line-height: 10px;
            }
        }
        .language {
            @media (max-width: $mobile) {
                display: none;
            }
        }
    }
    &__cookie {
        position: fixed;
        z-index: 10;
        bottom: 10px;
        right: 46px;
        max-width: 593px;
        padding: 24px;
        border-radius: 18px;
        background: #030303CC;
        text-align: left;
        font-family: $font-raleway;
        font-size: 20px;
        font-weight: 400;
        line-height: 23.12px;
        text-align: end;
        @media (max-width: $width1600) {
            max-width: 363px;
            padding: 12px;
            font-size: 12px;
            line-height: 13.87px;
        }
        @media (max-width: 920px) {
            max-width: 215px;
        }
        @media (max-width: $mobile) {
            max-width: none;
            position: static;
        }
        h4 {
            text-transform: uppercase;
            font-family: $font-benzin;
            font-size: 20px;
            font-weight: 400;
            line-height: 23.12px;
            margin-bottom: 12px;
            text-align: start;
            @media (max-width: $width1600) {
                font-size: 14px;
                line-height: 16.19px;
            }
        }
        p {
            opacity: 0.5;
            margin-bottom: 24px;
            text-align: start;
        }
        .custom-button {
            font-family: $font-RFDewiExpanded;
            font-weight: 600;
            font-size: 24px;
            line-height: 27.75px;
            @media (max-width: $width1600) {
                font-size: 16px;
                line-height: 18.5px;
                padding: 12px 24px;
            }
        }
        &.hide {
            display: none;
        }
        .cookie-btn {
            cursor: pointer;
        }
    }
}

.second-screen {
    @include flex(center, center, row);
    padding: 70px 0;
    min-height: 700px;
    @media (max-width: $tablet) {
        min-height:auto;
        // padding: 45px 0 0;
    }
    @media (max-width: 992px) {
        height: auto;
    }
    @media (max-width: $mobile) {
        padding: 45px 0;
    }
    &__content {
        margin: auto;
        display: flex;
        justify-content: space-between;
        justify-content: center;
        gap: 22px;
        @media (max-width: $tablet) {
           gap: 12px;       
        }
        @media (max-width: $mobile) {
             display: grid;      
        }
        img {
            max-width: 100%;
            max-height: 100%;
        }
        .custom-button {
            font-size: 24px;
            line-height: 28px;
            font-weight: 600;
            @media (max-width: 1400px) {
                padding-left: 15px;
                padding-right: 15px;
            }
            @media (max-width: $tablet) {
                font-size: 16px;
                line-height: 18.5px;
            }
            @media (max-width: 915px) {
                font-size: 14px;
                line-height: 16px;
                padding-left: 10px;
                padding-right: 10px;
            }
            @media (max-width: $mobile) {
                font-size: 12px;
                line-height: 14px;
                padding-left: 24px;
                padding-right: 24px;
            }
        }
        .col-1 {
            flex: 0 1 41%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            min-width: 270px;
            @media (max-width: $mobile) {
                order: 1;
                min-width: none;
            }
            .custom-button {
                font-family: $font-RFDewiExpanded;
                font-weight: 600;
            }
            .subtitle {
                font-size: 44px;
                max-width: 90%;
                @media (max-width: $width1600) {
                    max-width: 285px;
                    font-size: 40px;
                }

                @media (max-width: 1590px) {
                    font-size: 36px;
                }
                @media (max-width: 1465px) {
                    font-size: 30px;
                }
                @media (max-width: $tablet) {
                    max-width: 180px;
                    font-size: 20px;
                }
                @media (max-width: 915px) {
                    font-size: 18px;
                }
                @media (max-width: $mobile) {
                    font-size: 20px;
                }
            }
            .col-1__row {
                display: flex;
                background-color: #171717;
                border-radius: 18px;
                padding: 25px;
                @media (max-width: $width1600) {
                    border-radius: 12px;
                    padding: 24px;
                }
                @media (max-width: $tablet) {
                    padding: 12px;
                }
            }
            .col-1__row-1 {
                flex: 1 0 auto;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                gap: 16px;
                position: relative;
                
            &:after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 18px;
                background-image: linear-gradient(274.95deg, #F2CEFF -6.01%, #3F3369 68.06%, #171717 98.24%);
                transition: all 0.3s ease;
                z-index: 1;
                opacity: 0;
              }
                @media (max-width: $tablet) {
                    gap: 12px;
                }
                p {
                    max-width: 586px;
                    color: $gray-text;  
                    font-size: 20px;
                    line-height: 23px;
                    @media (max-width: $width1600) {
                        font-size: 18px;
                        line-height: 21px;
                        max-width: 528px;
                    }
                    @media (max-width: $tablet) {
                        max-width: 264px;
                        font-size: 12px;
                        line-height: 14px;
                    }
                    @media (max-width: $mobile) {
                        max-width: none;
                    }
                }
                .custom-button {
                    position: relative;
                    z-index: 2;
                }
                >div {
                    width: 100%;
                    position: relative;
                    z-index: 2;
                    .subtitle {
                        margin-bottom: 5px;
                    }
                }
                &:hover{  
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
        .col-2 {
            flex: 1 1 16%;
            text-align: center;
            font-size: 18px;
            line-height: 21px;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 24px;
            @media (max-width: $width1600) {
                font-size: 14px;
                line-height: 16px;
            }
            @media (max-width: $tablet) {
                font-size: 9px;
                line-height: 10px;
            }
            @media (max-width: $mobile) {
                order: 3;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 12px;
            }
            .title {
                @media (max-width: $width1600) {
                    font-size: 48px;
                    line-height: 55px;
                }
                @media (max-width: $tablet) {
                    font-size: 32px;
                    line-height: 37px;
                }
                @media (max-width: $mobile) {
                    font-size: 40px;
                    line-height: 46px;
                }
            }
            .subtitle {
                color: #4F4F4F;
                @media (max-width: 915px) {
                    font-size: 18px;
                }
                @media (max-width: $mobile) {
                    font-size: 28px;
                    line-height: 32px;
                }
            }
            p {
                font-family: $font-benzin;
                color: $gray-text;
                font-weight: 500;
                @media (max-width: $width1600) {
                    font-size: 14px;
                    line-height: 16px;
                }
                @media (max-width: $tablet) {
                    font-size: 9px;
                    line-height: 10px;
                }
            }
            .col-2__text-block {
                @include flex(space-between, center, column);
                padding: 24px;
                background: #171717;
                border-radius: 18px;
                @media (max-width: $tablet) {
                    padding: 12px;
                }
                @media (max-width: 370px) {
                    padding: 8px;
                }
            }
            .gif {
                @include flex(center, center, row);
                @media (max-width: $mobile) {
                    display: none;
                }
            }
        }
        .col-3 {
            flex: 0 1 41%;
            position: relative;
            border-radius: 18px;
            padding: 24px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%),
             linear-gradient(274.95deg, #F2CEFF -6.01%, #3F3369 68.06%, #171717 98.24%);
            z-index: 0;
            @media (max-width: $tablet) {
                padding: 12px;
            }
            @media (max-width: $mobile) {
                order: 2;
                min-height: 285px;
            }
            .custom-button {
               text-transform: uppercase;
               padding: 10px 31px;
               font-weight: 400;
               border-radius: 23px;
               &:hover {
                background-color: transparent;
                color: $white;
               }            
            }
            .col-3__arrow {
                height: 72px;
                width: 72px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                position: relative;
                @media (max-width: $width1600) {
                    height: 38px;
                    width: 38px;
                }
                svg {
                    position: relative;
                    z-index: 2;
                    @media (max-width: $width1600) {
                        height: 38px;
                        width: 38px;
                    }
                }
                &:after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    background-image: linear-gradient(274.95deg, #F2CEFF -6.01%, #3F3369 68.06%, #171717 98.24%);
                    transition: all 0.3s ease;
                    z-index: 1;
                    opacity: 0;
                  }
             }
            &__content {
                height: 100%;
                @include flex(space-between, flex-start, column);
                position: relative;
                z-index: 10;

                div {
                    @include flex(space-between, flex-start, column);
                    gap: 15px;
                    font-family: $font-RFDewiExpanded;
                    font-weight: 400;
                    color: #fff;
                    font-size: 24px;
                    line-height: 28px;
                    @media (max-width: 1500px) {
                        font-size: 16px;
                        line-height: 18.5px;
                    }
                    @media (max-width: $mobile) {
                        font-size: 12px;
                        line-height: 14px;
                    }
                 }
                .title {
                    margin-bottom: -15px;
                    @media (max-width: 1500px) {
                        margin-bottom: 0;
                        font-size: 45px;
                        line-height: 50px;
                        max-width: 60%;
                    }
                    @media (max-width: $tablet) {
                        font-size: 32px;
                        line-height: 37px;
                    }
                    @media (max-width: $mobile) {
                        font-size: 24px;
                        line-height: 28px;
                    }
                }
                img { 
                    width: 72px;
                    height: 72px;
                    @media (max-width: $tablet) {
                        width: 38px;
                        height: 38px;               
                    }
                }
            }
            &__img {
                width: 70%;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
                @include flex(center, center, row);
                @media (max-width: $tablet) {
                    justify-content: flex-end;
                    padding-right: 12px;
                    width: 75%;
                }
                @media (max-width: $mobile) {
                    width: 100%;
                    height: 100%;
                }
                @media (max-width: 500px) {
                    height: 80%;
                }
            }
            &:hover .col-3__arrow::after{
                opacity: 1;
            }
        }
        .col-1__row-2 {
            display: flex;
            border-radius: 18px;
            padding: 0 !important;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            background-color: #171717;
            -webkit-backface-visibility: hidden;
            position: relative;
            z-index: 2;
            max-height: 306px;
            &:after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 18px;
                background-image: linear-gradient(274.95deg, #F2CEFF -6.01%, #3F3369 68.06%, #171717 98.24%);
                transition: all 0.3s ease;
                z-index: 1;
                opacity: 0;
              }
            @media (max-width: $width1600) {
                border-radius: 12px;
                padding: 24px;
                max-height: 220px;
            }
            @media (max-width: $tablet) {
                padding: 12px;
                max-height: 180px;
            }
            @media (max-width: $mobile) {
                max-height: 141px;
            }
            &.mobile {
                display: none;
                @media (max-width: $mobile) {
                    display: flex;
                    flex-direction: row-reverse;
                    min-height: 141px;
                    order: 5;
                    padding-left: 12px !important;
                    &:after {
                        display: none;
                    }
                }
            }
            &__col {
                @include flex(space-between, flex-start, column);
                max-width: 46.91689%; /* 350/746 */
                padding: 25px 5px 25px 25px;
                gap: 25px;
                position: relative;
                z-index: 5;
                @media (max-width: $width1600) {
                    padding: 24px 5px 24px 24px;
                }
                @media (max-width: $tablet) {
                    padding: 12px 5px 12px 12px;
                    font-size: 9px;
                    line-height: 10px;
                }
                @media (max-width: $mobile) {
                    max-width: 55%;
                    align-items: flex-end;
                    padding: 12px;
                    text-align: end;
                }
            }
            .col-1__img {
                flex: 0 1 41%;
                height: calc(100% + 20px);
                @include flex(flex-end, flex-start, row);
                position: relative;
                top: -20px;
                z-index: 5;
                padding-right: 15px;
                overflow: hidden;
                .active {
                   display: none;
                }
                @media (max-width:1800px) {
                    flex: 0 1 41%;
                    height: calc(100% + 15px);
                    position: relative;
                    top: -15px;
                }
                @media (max-width: $width1600) {
                    align-items: flex-start;
                }
                @media (max-width: 1520px) {
                    padding-right: 10px;
                }
                @media (max-width: 1440px) {
                    flex: 0 1 40%;
                }
                @media (max-width: 1270px) {
                    flex: 0 1 35%;
                    height: 100%;
                    top: 0;
                }
                @media (max-width: $tablet) {
                    flex: 0 1 42%;
                }
                @media (max-width: 915px) {
                    flex: 0 1 40%;
                }
                @media (max-width: $mobile) {
                    flex: 0 1 42%;
                    padding-right: 12px;
                    justify-content: flex-start;
                    width: auto;
                }
            }
            img {
                height: 110%;
                max-height: 120%;
                @media (max-width: 1455px) {
                    object-fit: contain;    
                }
            }
            &:hover{  
                &::after {
                    opacity: 1;
                }
                .static {
                    display: none;
                }
                .active {
                   display: block;
                }
            }
        }
        .col-1__row.col-1__row-2 {
            @media (max-width: $mobile) {
                display: none;
            }
        }
        
    }
}

.third-screen {
    @include flex(space-between, center, column);
    gap: 5px;
    padding: 70px 0;
    min-height: 800px;
    @media (max-width: $width1600) {
        padding: 50px 0;
    }
    @media (max-width: $tablet) {
        min-height:auto;
        padding: 45px 0;
    }
    @media (max-width: 992px) {
        height: auto;
        display: block;
    }
   
    >.container {
        height: 100%;
        @include flex(flex-start, center, column);
        gap: 67px;
        padding-bottom: 67px;
        @media (max-width: $tablet) {
            padding-bottom: 55px;
        }
        @media (max-width: $mobile) {
            gap: 14px;
        }
    }

    .title {
        align-self: start;
        position: relative;
        display: inline-block;
        max-width: 1130px;
        @media (max-width: $tablet) {
            max-width: 400px;
        }
        @media (max-width: $mobile) {
            max-width: 70%;
            font-size: 20px;
            line-height: 23px;
        }
        &::after {
            content: '';
            display: inline-block;
            width: 63px;
            height: 63px;
            background-color: $white;
            border-radius: 50%;
            margin-left: 19px;
            transform: translateY(3px);
            @media (max-width: $tablet) {
                width: 26px;
                height: 26px;
                margin-left: 16px;                
            }
            @media (max-width: $mobile) {
                width: 16px;
                height: 16px;  
                transform: translateY(1px);           
            }
        }
    }
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 22px;
        @media (max-width: $tablet) {
            gap: 15px;               
        }
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;    
            gap: 12px;    
        }
        .custom-button {
            font-family: $font-RFDewiExpanded;
            font-size: 24px;
            line-height: 28px;
            font-weight: 600;
            @media (max-width: $tablet) {
                font-size: 16px; 
                line-height: 18.5px;               
            }
            @media (max-width: $mobile) {
                font-size: 12px; 
                line-height: 14px;               
            }
        }
        .col {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 18px;
            min-height: 304px;
            padding-right: 18px;
            background-color: #171717;
            -webkit-backface-visibility: hidden;
            position: relative;
            z-index: 2;
            max-height: 304px;
            &:after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 18px;
                background-image: linear-gradient(274.95deg, #F2CEFF -6.01%, #3F3369 68.06%, #171717 98.24%);
                transition: all 0.3s ease;
                z-index: 1;
                opacity: 0;
            }
            @media (max-width: $tablet) {
                border-radius: 12px;   
                min-height: 166px;    
                padding-right: 8px;  
                max-height: 215px;        
            }
            .subtitle-2 {
                white-space: nowrap;
                margin-bottom: 5px;
                @media (max-width: 350px) {
                    white-space: normal;             
                }
            }
            p {
                color: $gray-text;  
                font-size: 20px;
                line-height: 23px;
                @media (max-width: $width1600) {
                    font-size: 18px;
                    line-height: 21px;
                }
                @media (max-width: $tablet) {
                    font-size: 12px;
                    line-height: 14px;               
                }
            }
            .col-1__col {
                @include flex(space-between, flex-start, column);
                gap: 12px;
                max-width: 52.72525%; /* 474/899 */
                padding: 25px 5px 25px 25px;
                position: relative;
                z-index: 2;
                >div {
                    width: 100%;
                }
                @media (max-width: $tablet) {
                    padding: 12px;              
                }
                @media (max-width: 600px) {
                    max-width: 58%;             
                }
            }
            .col-1__img {
                width: 45%;
                height: calc(100% + 25px);
                @include flex(flex-end, flex-start, row);
                position: relative;
                top: -25px;
                z-index: 2;
                overflow: hidden;
                .active {
                    display: none;
                    @media (max-width: $mobile) {
                        display: block;               
                    }
                }
                @media (max-width: $width1600) {
                    height: 100%;
                    top: 0;
                    object-fit: cover;
                    padding-top: 30px;
                }
                @media (max-width:1660px) {
                    padding-top: 50px;              
                }
                @media (max-width:1530px) {
                    padding-top: 60px;              
                }
                @media (max-width: 1250px) {
                    padding-top: 40px;              
                }
                @media (max-width: 1200px) {
                    padding-top: 0;  
                    height: calc(100% + 25px);  
                    top: -25px;          
                }
                @media (max-width: 1070px) {
                    padding-top: 15px;  
                    height: 100%;  
                    top: 0;          
                }
                @media (max-width: $mobile) {
                    padding-top: 20px; 
                    .static {
                        display: none;
                    }              
                }

            }
            img {
                height: 110%;
                max-width: 100%;
                position: relative;
                object-fit: contain;
                @media (max-width:1530px) {
                    height: 120%;        
                }
                @media (max-width: $mobile) {
                    height: 110%;     
                }
                @media (max-width: 500px) {
                    height: 120%;     
                }
            }
            &:hover{  
                &::after {
                    opacity: 1;
                }
                .static {
                    display: none;
                }
                .active {
                   display: flex;
                }
            }
            &.col-1:first-of-type {
                padding-right: 7px;
                @media (max-width: $width1600) {
                    padding-right: 12px;             
                }
                @media (max-width: $tablet) {
                    padding-right: 3px;             
                }
                @media (max-width: $mobile) {
                    padding-right: 5px;             
                }
            }
        }
    }
}

.sign-up_popup {
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 150;
    opacity: 0; 
    background: rgba(0,0,0,0.8);
    transition: opacity 200ms ease-in; 
    pointer-events: none; 
    margin: 0px ;
    padding: 0;
    &.active {
        opacity: 1; 
        pointer-events: auto; 
        overflow-y: auto; 
    }
    &-dialog {
        position: relative;
        max-width: 722px;
        margin: 40px auto;
        height: calc(100% - 80px);
        @media (max-width: $width1600) {
           max-width: 623px;          
        }
        @media (max-width: $tablet) {
            max-width: 480px;           
        }
        @media (max-width:$mobile) {
            max-width: 100%;
            margin: 0 auto;
        }
    }
    &-content {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 24px;
        background-color: #000;
        border-radius: 14px;
        padding: 48px 48px 88px;
        outline: 0; 
        @media (max-width: $width1600) {
            gap: 16px;      
        }  
        @media (max-width:$mobile) {
            padding: 48px 25px;
        }
    }
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $font-benzin;
       
    }
    &-body {
        @include flex(flex-start, center, column);
        position: relative;
        flex: 1 1 auto;   
        text-align: center;   
        height: 100%;       
    } 
    .sign-up__form {
        @include flex(flex-start, stretch, column);
        gap: 24px;
        width: 100%;
        height: 100%;
        @media (max-width: $width1600) {
            gap: 16px;      
        } 
        &__inputs-block {
            flex: 1 0 auto;
            height: 100%;
            @include flex(flex-start, stretch, column);
            gap: 24px;
            font-family: $font-raleway;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            text-align: left;
            @media (max-width: $width1600) {
                font-size: 18px;
                line-height: 21px;    
            } 
            @media (max-width: $tablet) {
                font-size: 12px;
                line-height: 14px;    
            } 
            .input-block {
                @include flex(flex-start, stretch, column);
                gap: 8px;
            }
        }
        input, textarea {
            width: 100%;
            box-sizing: border-box;
            padding: 16px;
            border: none;
            border-radius: 8px;
            background: #0F0F0F;
            resize: none;
            color: $white;
            &:active, &:focus {
                outline: none;
            }
            &::placeholder {
                color: #FFFFFF4D;
            }
        }
        button{
            font-family: $font-RFDewiExpanded;
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
            text-decoration: none;
            @media (max-width: $tablet) {
                font-size: 16px;
                line-height: 18.5px;    
            } 
        }
    } 
}

.sign-up_popup-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    @media (max-width: $tablet) {
        font-size: 24px;
        line-height: 28px;           
    }
}
.close_popup {
    cursor: pointer;
    width: 45px;
    height: 45px;
    @media (max-width: $tablet) {
        width: 26px;
        height: 26px;          
    }
}

.sign-up-completed_popup {
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 150;
    opacity: 0; 
    background: rgba(0,0,0,0.8);
    transition: opacity 200ms ease-in; 
    pointer-events: none; 
    margin: 0px ;
    padding: 0;
    &.active {
        opacity: 1; 
        pointer-events: auto; 
        overflow-y: auto; 
    }
    &-dialog {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        max-width: 722px;
        margin: 40px auto;
        height: calc(100% - 80px);
        @media (max-width: $width1600) {
           max-width: 623px;          
        }
        @media (max-width: $tablet) {
            max-width: 480px;           
        }
        @media (max-width:$mobile) {
            max-width: 100%;
            margin: 0 auto;
        }
    }
    &-content {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 24px;
        background-color: #000;
        border-radius: 14px;
        padding: 48px 48px 88px;
        outline: 0; 
        @media (max-width: $width1600) {
            gap: 16px;      
        }  
        @media (max-width:$mobile) {
            padding: 48px 25px;
        }
    }
    &-header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-family: $font-benzin;
    }
    &-body {
        @include flex(flex-start, center, column);
        gap: 15px;
        position: relative;
        padding: 15px 0;
        flex: 1 1 auto;   
        text-align: center;   
        height: 100%;       
    } 
}

.faq_popup {
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 150;
    opacity: 0; 
    background: rgba(0,0,0,0.8);
    transition: opacity 200ms ease-in; 
    pointer-events: none; 
    margin: 0px ;
    padding: 0;
    &.active {
        opacity: 1; 
        pointer-events: auto; 
        overflow-y: auto; 
    }
    &-dialog {
        position: relative;
        max-width: 1363px;
        height: calc(100% - 80px);
        margin: 40px auto;
        @media (max-width: $width1600) {
            max-width: calc(100% - 60px);          
        }
        @media (max-width: $mobile) {
            max-width: 100%;  
            margin: 0 auto;        
        }
    }
    &-content {
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: #000;
        border-radius: 14px;
        padding: 48px;
        outline: 0;   
        @media (max-width:$mobile) {
            padding: 48px 25px;
        } 
    }
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $font-benzin;
        .faq_popup-title {
            font-weight: 700;
            font-size: 40px;
            line-height: 46px;
            @media (max-width: $tablet) {
                font-size: 24px;
                line-height: 28px;           
            }
        }
    }
    &-body {
        @include flex(flex-start, center, column);
        position: relative;
        flex: 1 1 auto;    
        height: 100%;   
        .accordion {
            width: 100%;
            position: relative;
            &__item {
                background: #171717;
                &:not(:last-of-type) {
                    margin-bottom: 8px;
                }
            }
            &__title {
                position: relative;
                display: block;
                cursor: pointer;
                padding: 16px;
            }
            &__arrow {
                position: absolute;
                top: 0px; 
                right: 0;
                display: inline-block;
                vertical-align: middle;
                width: 48px;
                height: 48px;
                text-align: center;
                line-height: 48px;
                margin-left: 5px;
                margin-right: 5px;
                border-radius: 50%;
                -webkit-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
            }
            &__rotate {
                transform: rotate(180deg);
            }
            &__content {
                display: none;
                padding: 0 16px 16px 16px;
            }
        }   
    } 
}

.cookie_popup {
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 150;
    opacity: 0; 
    background: rgba(0,0,0,0.8);
    transition: opacity 200ms ease-in; 
    pointer-events: none; 
    margin: 0px ;
    padding: 0;
    &.active {
        opacity: 1; 
        pointer-events: auto; 
        overflow-y: auto; 
    }
    &-dialog {
        position: relative;
        max-width: 1363px;
        // height: calc(100% - 80px);
        margin: 40px auto;
        @media (max-width: $width1600) {
            max-width: calc(100% - 60px);          
        }
        @media (max-width: $mobile) {
            max-width: 100%;  
            margin: 0 auto;        
        }
    }
    &-content {
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: #000;
        border-radius: 14px;
        padding: 48px;
        outline: 0;   
        @media (max-width:$mobile) {
            padding: 48px 25px;
        } 
        h2 {
            font-family: $font-benzin;
            font-weight: 700;
            font-size: 40px;
            line-height: 46.24px;
            text-align: left;
            margin-bottom: 16px;
        }
        p {
            font-family:$font-raleway;
            font-weight: 600;
            font-size: 20px;
            line-height: 23.12px;
            margin-bottom: 45px;
        }
    }
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            margin-bottom: 0;
        }
        .close_popup {
            cursor: pointer;
            width: 45px;
            height: 45px;
            @media (max-width: $tablet) {
                width: 26px;
                height: 26px;          
            }
        }
    }
    &-body {
        height: 100%;
    }
    
}

.close_popup {
    path, circle {
        stroke:#303030;
        transition: all 0.3s ease;
    }
    &:hover {
        path, circle {
            stroke:#e5e5e5;
        }
    }

}

.footer {
    height: 100%;
    max-height: 272px;
    @media (max-width: $width1600) {
        max-height: 225px;             
    }
    @media (max-width: $tablet) {
        max-height: 160px;            
    }
    @media (max-width: $mobile) {
        max-height: none;         
    }
    .container {
        height: 100%;
        @include flex(space-between, center, column);
        gap: 20px;
        .footer-row {
            text-align: center;
            @include flex(center, center, row);
        }

        .footer-row-1 {
            gap: 20px;
            font-size: 18px;
            font-weight: 500; 
            flex-wrap: wrap;
            @media (max-width: $width1600) {
                gap: 16px;  
                font-size: 14px;
                line-height: 17px;          
            }
            @media (max-width: $tablet) {
                gap: 14px;  
                font-size: 13px;
                line-height: 16px;        
            }  
            @media (max-width: $mobile) {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr; 
                gap: 12px;      
            }  
            a  {
                @include flex(center, center, row);
                gap: 7px;
                padding: 16px 68px;
                border-radius: 12px;
                background-color: rgba(255,255,255, 0.1);
                -webkit-backface-visibility: hidden;
                position: relative;
                z-index: 2;
                &:after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 18px;
                    background-image: linear-gradient(274.95deg, #F2CEFF -6.01%, #3F3369 68.06%, #171717 98.24%);
                    transition: all 0.3s ease;
                    z-index: -1;
                    opacity: 0;
                }
                @media (max-width: $width1600) {
                    padding: 16px 50px;          
                }
                @media (max-width: $tablet) {
                    padding: 11px 47px;            
                }
                @media (max-width: $mobile) {
                    padding: 11px;            
                }
                &:hover{  
                    &::after {
                        opacity: 1;
                    }
                }
            }
            @media (max-width: $mobile) {
                justify-content: space-between;
                .insta {
                    order: -1;
                    grid-area: 1 / 1 / 1 / 3;
                }           
            }
            
        }

        .footer-row-2 {
            flex-direction: column;
            gap: 10px;
            font-size: 24px;
            font-weight: 500; 
            color: $gray-text;  
            @media (max-width: $width1600) {
                font-size: 20px;  
                line-height: 23px;        
            }
            @media (max-width: $mobile) {
                font-size: 12px;  
                line-height: 14px;        
            }
        }
    }
}

